:root {
  --font: "Inter", sans-serif, Arial, Helvetica;

  --clr-primary-100: hsl(222, 55%, 5%);
  --clr-primary-200: hsl(222, 60%, 10%);
  --clr-primary-300: hsl(222, 85%, 25%);
  --clr-primary-400: hsl(222, 100%, 35%);
  --clr-primary-500: hsl(222, 100%, 57%);
  --clr-primary-600: hsl(222, 100%, 65%);
  --clr-primary-700: hsl(222, 100%, 75%);
  --clr-primary-800: hsl(222, 100%, 85%);
  --clr-primary-900: hsl(222, 100%, 95%);

  --clr-comp: #745cf0;
  --clr-comp2: #9b51df;
  --clr-comp3: #d438a5;
  --clr-accent: #ff896f;
  --clr-accent2: #f9f871;
  --clr-light: #e4efff;

  --clr-neutral-100: hsl(227, 39%, 9%);
  --clr-neutral-200: hsl(233, 18%, 19%);
  --clr-neutral-300: hsl(231, 18%, 28%);
  --clr-neutral-400: hsl(244, 10%, 40%);
  --clr-neutral-500: hsl(244, 10%, 50%);
  --clr-neutral-600: hsl(244, 10%, 60%);
  --clr-neutral-700: hsl(244, 10%, 70%);
  --clr-neutral-800: hsl(244, 10%, 80%);
  --clr-neutral-900: hsl(244, 10%, 90%);

  font-size: 8px;
}

.light-theme {
  --clr-primary-900: hsl(222, 75%, 5%);
  --clr-primary-800: hsl(222, 70%, 10%);
  --clr-primary-700: hsl(222, 85%, 25%);
  --clr-primary-600: hsl(222, 100%, 35%);
  --clr-primary-500: hsl(222, 100%, 57%);
  --clr-primary-400: hsl(222, 100%, 65%);
  --clr-primary-300: hsl(222, 100%, 75%);
  --clr-primary-200: hsl(222, 100%, 85%);
  --clr-primary-100: hsl(222, 100%, 95%);

  --clr-neutral-900: hsl(244, 25%, 10%);
  --clr-neutral-800: hsl(244, 10%, 20%);
  --clr-neutral-700: hsl(244, 10%, 30%);
  --clr-neutral-600: hsl(244, 10%, 40%);
  --clr-neutral-500: hsl(244, 10%, 50%);
  --clr-neutral-400: hsl(244, 10%, 60%);
  --clr-neutral-300: hsl(244, 10%, 70%);
  --clr-neutral-200: hsl(244, 10%, 80%);
  --clr-neutral-100: hsl(244, 10%, 90%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: var(--font);
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-600);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-neutral-700);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--clr-primary-500);
}

body {
  font-size: 2rem;
  color: var(--clr-neutral-900);
  background-color: var(--clr-primary-200);
}

.light-theme body {
  background-color: var(--clr-neutral-100);
}

.farewell {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.farewell__title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trojan {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  max-width: 300px;
  padding: 1em;
  background-color: var(--clr-neutral-200);
  box-shadow: 0 0 64px 12px rgba(0, 0, 0, 0.75);
  display: none;
  cursor: pointer;
}

.trojan-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.trojan-video__title {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  text-align: center;
}

.trojan.shown {
  display: block;
}

.trojan-video.shown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trojan-video__close {
  font-size: 6rem;
  color: var(--clr-neutral-900);
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 0.25em;
  opacity: 0;
  transition: opacity 2s 3s ease;
  cursor: pointer;
}

.shown .trojan-video__close {
  opacity: 1;
}

.trojan__title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.trojan__image {
  width: 100%;
  display: block;
}

.trojan__fake-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  color: var(--clr-neutral-800);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.header__title {
  font-size: 6rem;
  text-align: center;
  font-weight: 600;
}

.header__subtitle {
  text-align: center;
  font-size: 2.5rem;
}

.control-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.75);
  max-width: 24em;
  z-index: 5;
  padding: 1em 0;
  transform: translateX(-100%);
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-direction: column;
  transition: transform 0.35s ease, opacity 0.25s ease;
}

.control-panel.active {
  transform: translateX(0%);
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, 0.75);
}

.control-panel__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1em;
  overflow-y: auto;
}

.control-panel__item {
  margin: 1em 0 0.5em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--clr-neutral-200);
}

.control-panel__toggle {
  position: absolute;
  right: 0;
  top: 2rem;
  transform: translateX(100%);
  padding: 0.25em 0.5em;
  padding-right: 0.75em;
  font-size: 3rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
  border: none;
  border-radius: 0px 100vmax 100vmax 0px;
}

.control-panel__toggle:hover {
  cursor: pointer;
  background-color: var(--clr-primary-500);
}

.control-panel__toggle i {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.active .control-panel__toggle i {
  transform: rotate(270deg);
}

.control-panel__title {
  text-align: center;
  margin-bottom: 0.5em;
}

.control-panel__heading {
  margin-bottom: 1em;
}

.specs__list {
  list-style-type: none;
}

.specs__heading {
  margin-right: 0.5em;
  color: var(--clr-neutral-700);
}

.specs__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0em;
  text-align: right;
  color: var(--clr-neutral-800);
}

.actions__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.actions__item {
  flex-grow: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  max-width: 4em;
}

.actions__btn {
  border-radius: 50%;
  font-size: 3rem;
  background-color: transparent;
  border: 1px solid var(--clr-primary-500);
  color: var(--clr-neutral-900);
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.actions__btn:hover {
  cursor: pointer;
  background-color: var(--clr-primary-200);
}

.actions__btn:active {
  transition: background-color 0s linear;
  background-color: var(--clr-primary-300);
}

.actions__btn[data-power]:hover {
  color: red;
}

.downloader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin-top: 4em;
  background-color: inherit;
}

.downloader__form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: inherit;
}

.downloader__fieldset {
  border: none;
  margin: 2em 0;
}

.downloader__heading {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-weight: 600;
}

.url {
  display: flex;
  width: 100%;
  border: 1px solid var(--clr-primary-500);
  border-radius: 100vmax;
  box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s ease;
  position: sticky;
  position: -webkit-sticky;
  top: 1em;
  z-index: 2;
  background-color: inherit;
}

.url:focus-within {
  box-shadow: 0 0 12px -2px var(--clr-primary-600);
}

.url__input {
  color: var(--clr-neutral-900);
  background-color: transparent;
  font-size: 2rem;
  border: none;
  flex-grow: 1;
  padding: 1em;
}

.url__input:focus {
  outline: none;
}

.url__download-btn {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
  padding: 0.5em 1em;
  color: var(--clr-neutral-900);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
  background-color: var(--clr-primary-500);
  background-image: linear-gradient(45deg, var(--clr-primary-500), var(--clr-comp3));
  background-position: bottom left;
  background-size: 200%;
  background-repeat: no-repeat;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  margin: -1px;
  border: none;
  transition: background-position 0.5s ease-out;
}

.url__download-btn:hover {
  cursor: pointer;
  background-position: top right;
}

.url__download-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.url__loading {
  max-height: 1.75em;
  width: auto;
  margin-left: 0.5em;
  display: none;
}

.loading .url__loading {
  display: block;
}

.options__option-list {
  list-style-type: none;
  margin-left: 2em;
}

.options__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 0.82em;
}

.options__item {
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-weight: 500;
}

.disabled {
  opacity: 0.35;
  cursor: not-allowed;
  transition: opacity 0.15s ease;
}

.options__item:last-child {
  margin-right: 0;
}

.options__heading {
  margin-right: 1.5em;
}

.options__heading h3 {
  font-weight: 300;
  color: var(--clr-neutral-700);
}

.options__item input[type="radio"] {
  width: 3rem;
  height: 3rem;
  opacity: 0.7;
  accent-color: var(--clr-primary-500);
  cursor: pointer;
}

.options__item label {
  padding-left: 4px;
  font-size: 2.5rem;
  color: var(--clr-neutral-800);
  cursor: pointer;
}

.options__item input[type="radio"]:checked {
  opacity: 1;
}

.options__item input[type="radio"]:checked + label {
  color: var(--clr-neutral-900);
  font-weight: 600;
}

.container label {
  padding-right: 0.5em;
}

.custom-quality-enabler {
  display: flex;
  align-items: center;
}

.custom-quality-enabler label {
  color: var(--clr-neutral-700);
}

.custom-quality {
  display: flex;
  flex-direction: column;
}

.custom-quality__track {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.custom-quality__track label {
  margin-right: 0.5em;
}

.custom-quality__view-source {
  height: 100%;
  padding: calc(0.2em + 2px) 0.5em;
  border-radius: 0 100vmax 100vmax 0;
  font-size: 2rem;
  border: none;
  color: var(--clr-neutral-900);
  text-shadow: 0 0 8px var(--clr-neutral-100);
  background-image: linear-gradient(45deg, var(--clr-accent), var(--clr-accent2));
  background-color: var(--clr-accent);
  cursor: pointer;
}

input[type="checkbox"] {
  margin-left: 0.75em;
  accent-color: var(--clr-primary-500);
}

select {
  font-size: 2rem;
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-900);
  border: 1px solid var(--clr-primary-300);
  text-shadow: 0 0 8px var(--clr-neutral-100);
  padding: 0.2em 0.1em;
  flex-grow: 1;
}

select:hover,
select:focus {
  outline: none;
  background-color: var(--clr-primary-300);
  border: 1px solid var(--clr-primary-600);
}

select:disabled {
  opacity: 0.45;
}

input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
}

.post-processing__selector {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.advanced {
  transition: opacity 0.2s ease, height 0.1s ease;
}

.advanced:disabled {
  visibility: hidden;
  height: 0px;
  opacity: 0.4;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.advanced__enabler {
  display: flex;
  align-items: center;
}

.advanced__options {
  list-style-type: none;
  margin-left: 2em;
}

.advanced__option {
  margin: 1em 0 2em 0;
}

.advanced__heading {
  font-size: 2.25rem;
  margin-bottom: 0.5em;
  color: var(--clr-neutral-800);
}

.advanced__info {
  font-size: 1.8rem;
  color: var(--clr-neutral-800);
  margin-bottom: 0.5em;
}

.advanced__option--trim input {
  background-color: transparent;
  color: var(--clr-neutral-900);
  border: 1px solid var(--clr-primary-400);
  font-size: 2rem;
  padding: 0.35em 0.5em;
}

.advanced__option-reencoder {
  display: flex;
  flex-direction: column;
}

.advanced__option-container {
  margin-top: 0.5em;
}

.downloads {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  z-index: 3;
  background-color: var(--clr-primary-200);
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.75);
  max-width: 24em;
  max-height: 24em;
  width: calc(100% - 2em);
  transition: background-color 0.25s ease;
}

.downloads:hover,
.downloads:focus,
.downloads:focus-within {
  /* background-color: var(--clr-primary-300); */
}

.downloads__header {
  padding: 1em;
  color: var(--clr-neutral-900);
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 600;
  border-radius: 4px 4px 0px 0px;
}

.downloads__header:hover {
  cursor: pointer;
}

.downloads__header .fa-chevron-down {
  transition: transform 0.2s ease;
}

.collapsed .downloads__header .fa-chevron-down {
  transform: rotate(180deg);
}

.collapsed .downloads__list-container {
  display: none;
}

.downloads__list {
  list-style-type: none;
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.downloads__item {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
  background-color: var(--clr-primary-200);
  min-height: 4em;
  margin-right: -0.5vw;
}

.downloads__empty-msg {
  padding: 0.5em 1em 1em 1em;
  color: var(--clr-neutral-700);
  display: none;
}
.empty .downloads__empty-msg {
  display: block;
}

.downloads__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--clr-neutral-800);
  flex-grow: 1;
}

.downloads__actions {
  display: flex;
  margin-left: 0.5em;
  gap: 0.25em;
}

.downloads__actions a {
  text-decoration: none;
}

.downloading .downloads__action-btn {
  display: none;
}

.downloads__action-btn--cancel {
  display: none;
}

.downloading .downloads__action-btn--cancel {
  display: block;
}

.downloads__action-btn {
  background-color: inherit;
  border: 1px solid var(--clr-primary-500);
  border-radius: 50%;
  font-size: 2rem;
  padding: 0.25em 0.5em;
  color: var(--clr-neutral-900);
  width: 2em;
  aspect-ratio: 1 / 1;
}

.failed .downloads__action-btn {
  display: none;
}

.downloads__action-btn:hover {
  cursor: pointer;
  background-color: var(--clr-primary-300);
}

.downloads__item:hover {
  background-color: var(--clr-primary-200);
}

.downloads__progress-text {
  margin-left: 0.5em;
  font-size: 2rem;
  display: none;
}

.downloading .downloads__progress-text,
.failed .downloads__progress-text {
  display: block;
}

.progress__progress-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.downloads__progress-bar {
  opacity: 0.3;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: transform 0.2s ease-out, background-color 0.3s ease-out;
  transform-origin: left;
  transform: scaleX(var(--percent));
}

.downloading .downloads__progress-bar {
  background-color: var(--clr-primary-600);
}

.failed .downloads__progress-bar {
  background-color: transparent;
}

.footer {
  padding: 2em;
  background-color: var(--clr-primary-100);
  min-height: 30vh;
}

.footer__credits {
  text-align: center;
  font-weight: 600;
  margin-bottom: 4em;
}

.footer__contacts {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.footer__contacts-item {
  color: var(--clr-neutral-800);
}

.footer__contacts-item a {
  color: inherit;
  text-decoration: none;
}

.footer__contacts-item a:hover {
  text-decoration: underline;
}

@media screen AND (max-width: 750px) {
  :root {
    font-size: 4px;
  }
}
